#header {
    .right-side {
        margin-right: auto;
    }

    display: flex;

    .right-side {
        position: absolute;
        right: 2em;
        display: flex;
    }

}

.popOverContent {
    min-width: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    .logout-btn {
        width: 100%;
        display: flex;
        justify-content: center;

        #logoutBtn {
            background: linear-gradient(to left, #852c2c, #df9470);
            color: #fff;
            width: 60%;
        }

        #logoutBtn:hover {
            background: linear-gradient(to left, #852c2c, #df9470, #852c2c, #df9470, );
            color: #fff;
        }


    }

    #confirmBtn {
        background: linear-gradient(to left, #852c2c, #df9470);
        color: #fff;
    }

    #confirmBtn:hover {
        background: linear-gradient(to left, #852c2c, #df9470, #852c2c, #df9470, );
        color: #fff;
    }

}