.confrence-room {
  background-color: rgb(11, 11, 43);
  height: 100%;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;


  .canvas {
    //   background-color: rgba(34, 34, 34,.4);
    min-height: 70%;
    width: 100%;
    overflow: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.content{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.control-wrapper{
  z-index: 999999;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#main-video{
  width: 50vw;
  height: 60vh;
  // position: fixed;
  // left: 50px;
  // top: 10%;
}
.chats{
  min-width: 300px;
  height: 90vh;
  background-color: #cccccc;
  float: right;
}
.controls {

  position: fixed;
  background-color: rgba(41, 40, 40,.4);
  color: #cccccc;
  width: 70%;
  // height: 70px;
  bottom: 0px;
  border-radius: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: .5em 0;
  margin-bottom: 1em;
  .circle{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    
  }
  .red{
background-color: red;
  }
  .normal{
    background-color: #ccc;
  }

}
