.sm-tv-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    #main-card{

        width: 100%;
        overflow-x: scroll;
        @media (min-width:500px) and (max-width:1200px) {
            min-width: 100%;
        }
        @media (min-width:1200px) {
            width: 80%;
        }
        .title{
            @media (min-width:1200px) {
                margin-left: 5em;
            }
            .title2{
                @media (min-width:1200px) {
                    margin-right: 5em;
                } 
            }
        }


        .logo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-width: 100%; 
        #logo-image{
            width: 50%;
            @media (min-width:500px) and (max-width:1200px) {
                width: 40%;
            }
            @media (min-width:1200px) {
                width: 30%;
            }
        }

        
        }
        .header-part{
            h5{
                color: #6b6868;
            }
        }
     
    }
    .form{
        @media (min-width:1200px) {
            width: 60%;
            
        }
    }

}