#submitBTn {
    min-width: 250px;
    margin-left: 4em;
    height: 45px;
    background: linear-gradient(to right, #f17934, #852c2c);
    border: none;
    color: #ffffff;

}

#submitBTn:hover {
    background: linear-gradient(to right, #f17934, #852c2c, #f17934, #852c2c, );

}