.submit-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;

    #btn{
        color: #ffffff;
        width: 50%;
        height: 45px;
        background: linear-gradient(to right, #f17934, #852c2c);
 
        
        
        @media (min-width:400px) {
            margin-left: 5em;
        }
        @media (min-width:500px) and (max-width:558) {
            margin-left: 0em;
        }
    }
   
}